

/* 
   Styles for the multi-field component.

   ep_multi_*

*/

table.ep_multi
{
	width: 100%;
}

table.ep_multi tr:first-child th.ep_multi_heading,
table.ep_multi tr:first-child td.ep_multi_input,
table.ep_multi tr:first-child td.ep_multi_help 
{
	border-top: none;
}

th.ep_multi_heading
{
	border-bottom: solid #FFFFFF 1px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 0.5em;
	color: #003B6A;
	text-align: right;
	background-color: #E4EFFF;
}

td.ep_multi_input
{
	border-top: solid #E4EFFF 1px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	/* border-left: dashed #E4EFFF 1px; */
}

td.ep_multi_help
{
	white-space: nowrap;
	border-top: solid #E4EFFF 1px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
	vertical-align: top;
	text-align: right;
}

/* help bits */

.ep_multi_inline_help 
{
	padding-bottom: 0.5em;
}
	
