
/* 
 * This CSS file will be applied after all the built in styles.
 * 
 * CSS files are loaded in alphabetic order, hence the  "zzz" in 
 * the filename to force it to load after the other css files!
 * 
 * Add any local over-rides here. 
 * 
 * To totally replace a system css file, create a file of the same 
 * name in this directory. eg. messages.css
 * 
*/

.idiomas a {
    color: #003B6A;
    background-color: #E5E1E1;
    padding: 5px;
    font-size: 80%;
    font-weight: bold;
    margin: -2px;
    border-style: none solid none none;
}

.buscar_form {
    float: right;
}
.idiomas {
    float: right;
     margin: 5px 15px 5px 5px;
    /*margin-right: 15px;*/
}

h2.bold {
    font-weight: bold;
}

span.ep_search_control a {
    border-color: #1C3D68;
    background-color: #1C3D68;
    color: white;
    padding: 4px;
}

span.ep_search_control a:hover {
    border-color: #1C3D68;
    background-color: #1C3D68;
    color: white;
    text-decoration:none;
}

.sp_amosando {
    font-weight: bold;
}

.ep_exportar_form {
    /*float: left;*/
    margin: 10px 0px;
}

.ep_subir_nivel {
    float: right;
    margin-bottom: -25px
}
.ep_tm_pagetitle {

    margin:25px 0px;
}

table.ep_subir_nivel td {
    padding-left: 3px;
}