
/* 
 * This CSS file will be applied after all the built in styles.
 * 
 * CSS files are loaded in alphabetic order, hence the  "zzz" in 
 * the filename to force it to load after the other css files!
 * 
 * Add any local over-rides here. 
 * 
 * To totally replace a system css file, create a file of the same 
 * name in this directory. eg. messages.css
 * 
*/

.idiomas a {
    color: #003B6A;
    background-color: #E5E1E1;
    padding: 5px;
    font-size: 80%;
    font-weight: bold;
    margin: -2px;
    border-style: none solid none none;
}

.buscar_form {
    float: right;
}
.idiomas {
    float: right;
     margin: 5px 15px 5px 5px;
    /*margin-right: 15px;*/
}